span.icon {
  display: inline-flex;
  justify-content: center;
  width: 40px;
  font-size: 40px;
  line-height: 40px;
}

span.icon.map-f {
  background-color: var(--color-background, black);
  box-shadow: 0 0 16px 12px var(--color-background, black);
}

span.icon.map-w {
  background-color: darkturquoise;
  box-shadow: 0 0 4px 4px darkturquoise;
  border-radius: 8px;
}

span.icon.map-u {
  color: var(--color-user, black);
}

span.icon.map-u::after {
  content: "\265f";
}

span.icon.map-f::after {
  content: "\00A0";
}

span.icon.map-t::after {
  content: "\1f332";
}

span.icon.map-w::after {
  content: "\00A0";
}

span.icon.map-c::after {
  content: "\1f3f0";
}

span.icon.map-f::after {
  content: "\00A0";
}

span.icon.moon::after {
  content: "\1f319";
}

span.icon.dragon::after {
  content: "\1f409";
}
